:root {
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
 
  
  body {
    background-color: rgb(218, 209, 225);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    margin: 2rem 0rem;
  }
  
  button {
    padding: 0.3rem 2rem;

    color: rgb(123, 66, 66);
    border: 1px solid rgba(255, 255, 255, 0.366);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.156);
    font-size: large;

  }
  
  button:hover {
    background-color: rgba(197, 102, 102, 0.251);
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.055);
  }
  
  div {
    margin-bottom: 2rem;
  }
  
  #catOrDogContainer:empty {
    display: none;
  }
  
  #catOrDogContainer {
    max-width: 42rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.366);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.156);
    overflow: hidden;
    transition: all 0.2s;
  }
  
  #catOrDogContainer h2 {
    text-align: center;
  }
  
  #catOrDogContainer h2,
  #catOrDogContainer p {
    display: inline-block;
    width: calc(100% - 2rem);
    padding: 0.3rem 1rem;
    background-color: rgba(255, 255, 255, 0.311);
  }
  
  
  #catOrDogContainer p {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.366);
  }
  
  
  #catOrDogContainer span {
    padding: 1rem;
  }
